#
# Waterfall Configuration File
#
# Edit this file to your liking and copy it to ~/.waterfall
#

# Log file
logfile = /var/log/waterfall.log

# Size of the FFT window.
fft_bins = 32768
# Overlap of the FFT windows.
fft_overlap = 24576

# Location name to be used in the snapshot filenames and FITS file metadata (the ORIGIN header).
location_name = svakov

# Length of a single snapshot in seconds.
waterfall_snapshot_length = 1

# Uncomment the following options to take snapshots of only a part of the spectrum.
# Left (lower) frequency bound of the snapshot in Hz.
# waterfall_left_freq = -21000
# Right (higher) frequency bound of the snaphost in Hz.
# waterfall_right_freq = -20200

